:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

/* core styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--bs-white);
    line-height: 30px;
    text-align: center;
    background: var(--bs-primary);
}

section{
    width: 100vw;
    height: 100vh;
} 

h2 {
    padding-bottom: 10px;
}

/* main */
.main {
    padding: 2rem 0 0 0;
}

.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

/* create */
.create .accordion-button {
    background: var(--bs-primary);
}


/* template */
.template{
    width: 100%;
    height: auto;
} 

.template .container .carousel .carousel-inner{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/* @media (max-width: 768px) {
    .template .container .carousel .left{
        left: 0;
        margin-left: 0;
    }
    
    .template .container .carousel .right{
        right: 0;
        margin-right: 0;
    }
} */

.card-img-top{
    filter: brightness(50%);
}

.selectedTemplate{
    border:3px solid white;
    border-spacing: 0;
    
}

.selectedTemplate img{
    filter: brightness(110%);
}

/* styling */
.styling{
    width: 100%;
    height: auto;
} 

/* data */
.data{
    width: 100%;
    height: auto;
} 

/* footer */