/* core styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

.main{
    width: 100vw;
    height: 100vh;
    background: black;
    padding: 4rem 0;
    /* color: red; */
    scroll-behavior: smooth;
} 

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    /* padding-top: 10px; */
}