/* core styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 4rem 0;
    color: red;
    scroll-behavior: smooth;
} 
