<!-- templates/create.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- ========================= start accordian section ========================= -->
<section id="accordian", name="accordian", class="accordian">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <h2 class="">1. Choose a template</h2>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% include 'template.html' %}
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <h2 class="">2. Adjust the Styling</h2>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% include 'style.html' %}
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <h2 class="">3. Input your Data and Img</h2>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% include 'data.html' %}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= end accordian section ========================= -->

<!-- ========================= start final button section ========================= -->
 <div id="final", name="final", class="final fixed-bottom pb-5">
    <div class="container pb-4">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <button id="copy" class="copy btn btn-light" type="submit" form="dataform">Copy to Clipboard</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}