<!-- templates/create.html -->
{% extends 'base.html' %}

{% load static %}

{% block content%}

<!-- ========================= start template section ========================= -->
<section id="template", name="template", class="template">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-12 offset-md-12 text">
                <h2 class="pt-5">1. Choose a template</h2>
            </div>
        </div>

        <!-- ========================= start carousel ========================= -->
        <div id="templateCarousel" class="carousel slide carousel-multi-item" data-ride="carousel2">
            <button class="left carousel-control-prev" type="button" data-bs-target="#templateCarousel"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="right carousel-control-next" type="button" data-bs-target="#templateCarousel"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                    <div class="card mb-2 selectedTemplate">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                        alt="Card image cap">
                    </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                    </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                        alt="Card image cap">

                    </div>
                    </div>
                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                        alt="Card image cap">
                    </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                    </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                        alt="Card image cap">
                    </div>
                </div>
                </div>
            </div>
            <!--/.Second slide-->
            </div>
        </div>
        <!-- ========================= end carousel ========================= -->
    </div>
        



    </div>
</section>
<!-- ========================= end template section ========================= -->

<!-- ========================= start styling section ========================= -->
<section id="styling", name="styling", class="styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <h2 class="pt-5">2. Adjust the Styling</h2>
            </div>
        </div>
    </div>
</section>
<!-- ========================= end styling section ========================= -->

<!-- ========================= start data section ========================= -->
<section id="data", name="data", class="data">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <h2 class="pt-5">3. Input your Data and Img</h2>
            </div>
        </div>
    </div>
</section>
<!-- ========================= end data section ========================= -->

<!-- ========================= start output section ========================= -->
<section id="data", name="data", class="data">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <form class="form-inline my-2 my-lg-0">
                    <h2 class="py-5">4. Copypasta to your signature</h2>
                    <button class="btn btn-light" type="submit">Copy to Clipboard</button>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- ========================= end output section ========================= -->
{% endblock content%}