<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block content%}

<!-- ========================= start main ========================= -->
<section id="content", name="main", class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <h2 class="pt-5">Free email signature generator</h2>
                <div class="row">
                    <!-- ========================= start carousel ========================= -->
                    <div id="homeCarousel" class="carousel slide" data-bs-ride="carouse1">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'img/placeholder.png' %}" class="d-block" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Templates</h5>
                            <p>Select your templates</p>
                        </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="6000">
                        <img src="{% static 'img/placeholder.png' %}" class="d-block" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Styling</h5>
                            <p>Stylize your signature</p>
                        </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="6000">
                        <img src="{% static 'img/placeholder.png' %}" class="d-block" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Data/Images</h5>
                            <p>Enter your signature details and image</p>
                        </div>
                        </div>
                    </div>
                    <button class="left carousel-control-prev" type="button" data-bs-target="#homeCarousel"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="right carousel-control-next" type="button" data-bs-target="#homeCarousel"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                    <!-- ========================= end carousel ========================= -->
                </div>

                <div class="row pt-5">
                    <div class="text-center">
                        <a href="{% url 'create' %}" class="btn btn-light">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= end main ========================= -->

{% endblock content%}