<!-- templates/style.html -->

<!-- ========================= start styling section ========================= -->
<!-- <section id="styling", name="styling", class="styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <h2 class="pt-4">2. Adjust the Styling</h2>
                
                <form id="styleform" method="post" class="form" name="{{ styleform.prefix }}">
                    {% csrf_token %}
                    {{ styleform }}
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- ========================= end styling section ========================= -->
