<!-- templates/style.html -->

<!-- ========================= start styling section ========================= -->
<section id="styling", name="styling", class="styling">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-12 text">
                <form id="styleform" name="styleform" action="" enctype="multipart/form-data" method="post" target="iframe1">
                    {% csrf_token %}
                    {{ styleform.as_p }}
                    {% comment %} <button id="style" class="style" type="submit" style="visibility: hidden;"></button> {% endcomment %}
                </form>
                <iframe name="iframe1" style="display:none"></iframe>
            </div>
        </div>
    </div>
</section> 
<!-- ========================= end styling section ========================= -->
