<!-- templates/template.html -->

<!-- ========================= start template section ========================= -->
<section id="template", name="template", class="template">
    <div class="container">

    <!-- ========================= start carousel ========================= -->
    <div id="templateCarousel" class="carousel slide carousel-multi-item pt-5" data-ride="carousel2">
        <button class="left carousel-control-prev" type="button" data-bs-target="#templateCarousel"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="right carousel-control-next" type="button" data-bs-target="#templateCarousel"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2 selectedTemplate">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                            alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                            alt="Card image cap">
                        </div>
                    </div>
        
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        </div>
                    </div>
        
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                            alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Second slide-->
        </div>
    </div>

    <!-- ========================= end carousel ========================= -->
    </div>
</section>
<!-- ========================= end template section ========================= -->